html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  color: #000000;
  background-color: #D3D3D3;
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



button {
  background-color: #1e90ff; /* Cambia el color de fondo a azul cielo */
  border-color: #1e90ff; /* Cambia el color del borde a azul cielo */
  color: white; /* Cambia el color del texto a blanco */
}
button:hover {
  background-color: #1c86ee; /* Color de fondo al pasar el ratón */
  border-color: #1c86ee;  
}

.my-custom-button {
  background-color: #1e90ff; /* Cambia el color de fondo a azul cielo */
  border-color: #1e90ff; /* Cambia el color del borde a azul cielo */
  color: white; /* Cambia el color del texto a blanco */
}

.my-custom-button:hover {
  background-color: #1c86ee; /* Color de fondo al pasar el ratón */
  border-color: #1c86ee; /* Color del borde al pasar el ratón */
}

.header {
  width: 100%;
  height: 70px;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header .title {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: flex-start;
  flex-direction: row;
}